.container {
    height: 30vh;
}

.formatForm {
    position: absolute; 
    left: 20%; 
}

.codeZone {
    position: absolute; 
    left: 60%; 
    color: blue;
    width: 40%;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.custom-input { 
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    outline:0;
    height: 4vh;
    width: 40vh; 
    margin: 1vh;
    display: block;
}

.custom-btn {
    border: 1px solid rgb(118, 12, 56);;
    border-radius: 2px;
    margin: 1vh;
    background-color: rgb(177, 22, 87);;
    color: white;
    cursor: pointer;
    height: 4vh;
    width: 40vh;
}

.custom-btn:hover {
    background: transparent;
    color:rgb(177, 22, 87);;
}

.custom-btn:disabled,
.custom-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}