<div class="container">
  <select [style]="selectStyle" (change)="selectValue($event)">
    <option disabled>Selecciona una opción</option>
    <option *ngFor="let item of selectOptions" [value]="item.id">
      {{item.formatDisplay}}
    </option>
  </select>
  
  <form *ngIf="selectedOption" [formGroup]="formatForm" class="formatForm" (onSubmit)="save()">
    <input class="custom-input" formControlName="id" />
    <input class="custom-input" formControlName="format" />
    <input class="custom-input" formControlName="formatDisplay"/>
    <input class="custom-input" formControlName="type" />
    <button class="custom-btn" type="submit" [disabled]="!formatForm.dirty" (click)="save()">Capturar</button>
  </form>

  <section class="codeZone">
    <pre>{{selectedOption | json}}</pre>
  </section>
</div>
